{% extends "homebase.html" %}

{% block title %} CartList {%endblock%}

{% block body %}
<!-- Page info -->
	<div class="page-top-info">
		<div class="container">
			<h4>Your Shopcart</h4>
			<div class="site-pagination">
				<a href="">Home</a> /
				<a href="">Your Shopcart</a>
			</div>
		</div>
	</div>
	<!-- Page info end -->


	<!-- cart section end -->

	<section class="cart-section spad">
		<div class="container">
			<div class="row">
				<div class="col-lg-8">

					<div class="cart-table">
						<h3>Your ShopCart</h3>
						<div class="cart-table-warp">
							<table>
							<thead>
								<tr>
									<th class="product-th">Product</th>
									<th class="quy-th">Quantity</th>
									<th class="size-th">Size</th>
									<th class="total-th">Price</th>
                                    <th></th>
                                    <th class="total-th">Delete</th>
								</tr>
							</thead>
							<tbody>
                            {% for rs in shopcart %}
								<tr>
									<td class="product-col">
										<img src="{{ rs.product.image.url }}" alt="">
										<div class="pc-title">
											<h4>{{ rs.product.title}}</h4>
											<p>${{rs.product.price}}</p>
										</div>
									</td>
									<td class="quy-col">
										<div class="quantity">
					                        <div class="pro-qty">
												<input type="text" value="{{rs.quantity}}">
											</div>
                    					</div>
									</td>
									<td class="size-col"><h4>{{rs.product.size}}</h4></td>
									<td class="total-col"><h4>{{rs.amount}}</h4></td>
                                    <td></td>
                                    <td class="total-col"><a href="/order/deletefromcart/{{ rs.id }}" class="site-btn">Delete</a></td>
								</tr>
                            {% endfor %}
							</tbody>
						</table>
						</div>
						<div class="total-cost">
							<h6>Total <span>{{ carttotal }}</span></h6>
						</div>


					</div>
                 <a href="/" class="site-btn sb-dark">Continue shopping</a>
                    <a href="/order/checkout" class="site-btn">Proceed to checkout</a>
				</div>

				<div class="col-lg-4 card-right">
                    {%include 'user_menu.html' %}
				</div>

			</div>
		</div>
	</section>
	<!-- cart section end -->
{%endblock%}