<div class="section-title">
    <h3 class="title">User Menu</h3>
</div>

<ul class="category-list">
    <li><a href="/user/" class="site-btn sb-dark"><i class="fa fa-user-o"></i>My Account </a> </li>
    <li><a href="/order/" class="site-btn sb-dark"><i class="fa fa-user-o"></i>My Orders </a></li>
    <li> <a href="/" class="site-btn"><i class="fa fa-heart-o"></i>My Wishlist </a> </li>
    <li><a href="/comments" class="site-btn sb-dark"><i class="fa fa-user-o"></i>My Comments </a></li>
    <li><a href="/contact" class="site-btn sb-dark"><i class="fa fa-user-o"></i> Contact </a> </li>
    <li><a href="/order/shopcart" class="site-btn sb-dark"><i class="fa fa-check"></i>Shop Cart </a> </li>
    <li><a href="/order/checkout" class="site-btn"><i class="fa fa-user-plus"></i>Checkout </a> </li>

</ul>