{% extends "homebase.html" %}

{% block title %} Login {%endblock%}


{% block body %}
<div class="page-top-info">
		<div class="container">
			<h4>Login</h4>
			<div class="site-pagination">
				<a href="/">Home</a> /
				<a href="/login">Login</a>
                <p>Hesabın yoksa <a href="/register">Hemen Üye Ol !<a/></p>
			</div>
		</div>
	</div>
<section class="checkout-section spad">
		<div class="container">
            {% if hata %}
                {{ hata }}
            {% endif %}
			<div class="row">
				<div class="col-lg-8 order-2 order-lg-1">
					<form class="checkout-form" action="" method="post">
                        {% csrf_token %}
						<div class="cf-title">User Login Form</div>
						<div class="row">
							<div class="col-md-7">
							</div>
						</div>
						<div class="row address-inputs">
							<div class="col-md-12">
								<input class="input" type="text" name="username" placeholder="Username" required >
								<input class="input" type="text" name="password" placeholder="Password" required >
                                <input type="hidden" value="{{request.GET.next}}" name="next" />
								<input class="site-btn" type="submit" value="Login" >
							</div>
					</form>
				</div>

			</div>
		</div>
	</section>


















{%endblock%}