	<!-- Hero section -->
	{% load static %}

	<section class="hero-section">
	<div class="hero-slider owl-carousel">
		{% for rs in sliderList %}
			<div class="hs-item set-bg" data-setbg="{{ rs.image.url }}">
				<div class="container">
					<div class="row">
						<div class="col-xl-6 col-lg-7 text-white">
							<span>{{ rs.title }}</span>
							<h2 style="color:black">{{ rs.title }}</h2>
							<p>{{ rs.description }} </p>
							<a href="product/{{ rs.id }}" class="site-btn sb-line">DISCOVER</a>
							<a href="/product/{{ rs.id }}" class="site-btn sb-white">ADD TO CART</a>
						</div>
					</div>
					<div class="offer-card text-white">
						<span>SADECE</span>
						<h3>{{ rs.price }} TL</h3>
						<p>SATIN AL</p>
					</div>
				</div>
			</div>
        {% endfor %}
		</div>
		<div class="container">
			<div class="slide-num-holder" id="snh-1"></div>
		</div>
	</section>
	<!-- Hero section end -->

	<!-- Features section -->
	<section class="features-section">
		<div class="container-fluid">
			<div class="row">
				<div class="col-md-4 p-0 feature">
					<div class="feature-inner">
						<div class="feature-icon">
							<img src="{% static 'img/icons/1.png'%}" alt="#">
						</div>
						<h2>Fast Secure Payments</h2>
					</div>
				</div>
				<div class="col-md-4 p-0 feature">
					<div class="feature-inner">
						<div class="feature-icon">
							<img src="{% static 'img/icons/2.png'%}" alt="#">
						</div>
						<h2>Premium Products</h2>
					</div>
				</div>
				<div class="col-md-4 p-0 feature">
					<div class="feature-inner">
						<div class="feature-icon">
							<img src="{% static 'img/icons/3.png'%}" alt="#">
						</div>
						<h2>Free & fast Delivery</h2>
					</div>
				</div>
			</div>
		</div>
	</section>
	<!-- Features section end -->
